/* variables in root element */

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/Inter-italic.var.woff2?v=3.15") format("woff2");
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/IBMPlexMono-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/IBMPlexMono-ThinItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IBMPlexMono-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/IBMPlexMono-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IBMPlexMono-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/IBMPlexMono-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/IBMPlexMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 450;
    src: url('../fonts/IBMPlexMono-Text.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 450;
    src: url('../fonts/IBMPlexMono-TextItalic.woff2') format('woff2');
}


@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IBMPlexMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/IBMPlexMono-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/IBMPlexMono-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IBMPlexMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/IBMPlexMono-BoldItalic.woff2') format('woff2');
}



:root {
  --font-family-main: 'IBM Plex Mono';
  --font-feature-settings: 'liga' 1, 'calt' 1; 
  --font-weight-main: 400;
  --font-family-content: Inter, sans-serif;
  --font-feature-settings: 'liga' 1, 'calt' 1; 
  --font-weight-content: 400;
  --font-family-summary: Inter, sans-serif;
  --font-feature-settings: 'liga' 1, 'calt' 1; 
  --font-weight-summary: 400;
  --font-family-main: 'IBM Plex Mono';


  --color-light: #f9eae1;
  --color-dark: #0c1221;
  --color-light-grey: #c8cbd0;
  --color-dark-grey: #181e2c;
  --color-gold: #feb32b;
  --color-gold-dark: #ac5e01;
  --color-coral: #e85154;
  --color-coral-dark: #d04744;
  --color-teal: #26a69a;
  --color-teal-dark: #23847f;
  --color-blue: #062a4e;
  --color-blue-dark: #091e38;

  --dim-color: #88888844;
  --hover-dim-color: #fff;

  /* Mermaid diagrams*/
  --mermaid-node-color: #b87f62 !important;
  --mermaid-node-border: #bd7958;
  --mermaid-contrast-color: #afe61d;
  --mermaid-theme: dark;
  --monospace: "IBM Plex Mono";

  --tip-color: #00cca0;
  --important-color: #ac80ff;
  --warning-color: #faba09;
  --caution-color: #f92472;

}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

:root[color-scheme^='light'] {
  --quote-text-color: #626c59;
  --body-text-color: var(--color-dark);
  --body-background-color: var(--color-light);

  --primary-color: var(--color-coral-dark);
  --secondary-color: var(--color-gold-dark);
  --selection-color: #dda19b;


  --code-text-color: var(--color-gold-dark);
  --code-background-color: rgba(0,0,0,0.1);
  
  --dim-opacity: 65%;
  --note-color: #03a5c9;

  --popup-background-mask: rgba(0,0,0,0.5)
}

:root[color-scheme^='dark'] {
  --quote-text-color: #c2bcb9;
  --body-text-color: var(--color-light);
  --body-background-color: var(--color-dark);

  --primary-color: var(--color-gold);
  --secondary-color: var(--color-coral);
  --selection-color: var(--color-coral);

  --code-text-color: #feb32b;
  --code-background-color: #ffffff10;

  --dim-opacity: 50%;
  --note-color: #8be9fd;

  --popup-background-mask: rgba(255,255,255,0.1)
}
