{{- if and (eq .Type "alert") (in (slice "note" "tip" "important" "warning" "caution") .AlertType) }}
  <blockquote class="alert alert-{{ .AlertType }}">
    <p class="alert-title">
      {{ $path := printf "/icons/alerts/%s.svg" .AlertType }}
      
      {{- partial "svg" $path -}}

      {{- with .AlertTitle }}
        {{ . }}
      {{- else }}
        {{ .AlertType | title }}
      {{- end }}
    </p>


    <div class="alert-content">
      {{ .Text }}
    </div>
  </blockquote>
{{- else }}
  <blockquote>
    {{ .Text }}
  </blockquote>
{{- end }}